- name: (Investigation Command) yum install
  yum: name={{ item }} state=latest
  with_items:
    - dstat
    - sysstat
    - iotop
    - mlocate
    - telnet
    - htop
    - strace
    - monit

- name: (Need Command) yum install
  yum: name={{ item }} state=latest
  with_items:
    - vim
    - wget
    - tree
    - postfix
    - unzip
    - make
    - gcc
    - gcc-c++
    - screen
